---
layout: base.njk
title: Home
---



<table class="table-fixed w-full border-separate border-spacing-2 border border-slate-200 ">
  <thead>
    <tr class="text-left">
      <th>Project Title</th>
      <th>Client</th>
      <th>Description</th>
      <th>Date</th>
      <th>Thumbnail</th>
    </tr>
  </thead>
  <tbody>
  
        {% for post in collections.portfolio %}
              <tr class="border border-slate-300 align-top">
                <td><a href="{{ post.url | url }}"> {{post.data.title}} </a></td>
                <td><p> {{post.data.client}} </p></td>
                <td><p> {{post.data.description | safe }} </p></td>
                <td><p> {{post.data.projectDate | safe }} </p></td>
                <td><img src="{{post.data.thumbnailPath | url }}"> </img></td>
              </tr>        
        {% endfor %}

  </tbody>
</table>